# Python Killer Commands

In [4]:
import pandas as pd

# Define the data for the DataFrame
data = {
    'Date': ['1/1/22', '1/1/22', '1/1/22', '1/1/22', '2/1/22'],
    'Day': [1, 1, 1, 1, 2],
    'Year': [2022, 2022, 2022, 2022, 2022],
    'Expenses': [143.50, 25.00, 25.00, 24.00, 3.75],
    'Type': ['Present', 'Clothes', 'Gaming', 'Clothes', 'Coffee']
}

# Create the DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
df

     Date  Day  Year  Expenses     Type
0  1/1/22    1  2022    143.50  Present
1  1/1/22    1  2022     25.00  Clothes
2  1/1/22    1  2022     25.00   Gaming
3  1/1/22    1  2022     24.00  Clothes
4  2/1/22    2  2022      3.75   Coffee

In [5]:
df.query("Expenses < 25")
df.sort_values(by="Expenses", ascending = True)

     Date  Day  Year  Expenses     Type
4  2/1/22    2  2022      3.75   Coffee
3  1/1/22    1  2022     24.00  Clothes
1  1/1/22    1  2022     25.00  Clothes
2  1/1/22    1  2022     25.00   Gaming
0  1/1/22    1  2022    143.50  Present